# Default ignored files
/shelf/
/workspace.xml
**/.idea/
**/estutura-condicional.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/out/
/exercicios/estrutura-repetitiva/estrutura-repetitiva.iml
/exercicios/exercicios.iml
/CursoJava.iml
/exercicios/estrutura-sequencial/estrutura-sequencial.iml
/exercicios/exercicios-poo/exercicios-poo-ex01/exercicios-poo.iml
/exercicios/exercicios-poo/exercicios-poo-ex01/exercicios-poo.iml
/exercicios/exercicios-poo/exercicios-poo-ex02/exercicio-poo-ex02.iml
/exercicios/exercicios-lista/Ex01/Ex01.iml
/exercicios/exercicios-vetores/Ex01/Ex01.iml
